ul.ul_sortable {
    list-style:none;
    margin:0;
    padding:0;
}
ul.ul_sortable li {
    cursor:move;
    background-color: #eee;
    margin:5px;
    padding: 5px;
}
ul.ul_sortable li label.menu_label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
}
ul.ul_sortable input[type="checkbox"] {
    margin: 0 3px 0 3px;
}
