/* css format = text-box-inquisitive */

img.scale-with-grid {
		max-width: 100%;
		height: auto; 
}

div.inqContainer {
	width:auto;
	padding:5px;
  border: 1px solid #ddd;
  background-color: #fff;
  }

div.spacer {
  clear: both;
  }

/* end new quiz menu table */

    .question-div-table{display:table; border:1px solid #DDDDDD; width:660px;}
    .question-div-table-caption{display:table-caption; width:100%;}
    .question-div-table-row{display:table-row;}
    .question-div-table-col{ float: left; margin: 0; display:table-cell; padding: 5px; border: 1px solid #DDDDDD;}

DIV.base-layer {
  /*background: none #FFFFFF; border: none; color: #000000;*/
  margin: 0.5em 12px 0.5em 12px; padding: 0; text-align: center; 
  width: auto;
}
.list-fixed {
  width: 545px !important;
}

#addURL{
	text-align: left;
}

#addAnswer{
	text-align: left;
}

DIV.keywords{
	padding-top:5px;
}

textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea {
    padding: 5px;
    width: 100%;
}

.questionHeaderButton{
	margin-left:20px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:0px;
	padding:5px;
	text-align: left;
}
.questionHeaderButton input{
	margin-top:10px;
}

.table-row-question{
  background: none #eeeeee; color: #000000;
  border-color:#999; border-style:solid; border-width:1px;
  margin-top: 10px; margin-right: auto; margin-bottom: 0; margin-left: auto;
  padding: 10px; text-align: center; width: 100%;
  height: auto;
  border-radius: 2px 2px 2px 2px;
  float:left;
}

DIV.table-row-answer {
  background: none #f7f7f7; color: #000000; 
  border-color:#bbb; border-style:solid; border-width:1px;
  border-top-style:none; border-top-width:none;
  margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left:1.5%;
  padding: 5px; text-align: left; width: 99%;
  float:left;
    
}

DIV.table-row-answer-result {
  background: none #f7f7f7; color: #000000; 
  border-color:#bbb; border-style:solid; border-width:1px;
  border-top-style:none; border-top-width:none;
  margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left:1.5%;
  padding: 5px; text-align: left; width: 97%;
  
  font-size: 12px;
  min-height: 25px;
  height: auto; 
  line-height: 25px;
  text-align: left;
}


#green{
  background: none #ACFF9D; 
  color: #000000; 
  border-color:#58FF40;
  border-width:2px;
  border-top-style:solid;
  border-top-width:1px;
  border-bottom-width:1px;
}

.clearfix:after {
	content: "";
  display: table;
  clear: both;
}

DIV.table-row-header{
	border-top-width:1px;
	border-top-style:solid;
	border-top-color: #888;

	/*height:37px;*/ /* ie bug */
	width:100%;
	padding-right:20px;
}


DIV.table-row, .table-row-list {
	  float: left;
  background: none #eeeeee;
  color: #000000;
  border-color:#999;
  border-style:solid;
  border-width:1px;
  /*margin-top: 10px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;*/
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
}

DIV.table-row-list:hover {
	background-color:#F7F7F7;	
}


DIV.table-row-top {
  background: none #FFFFFF; color: #000000;
  border-color:#999; border-style:solid; border-width:1px;
  margin-top: 10px; margin-right: auto; margin-bottom: 0; margin-left: auto;
  padding: 10px; text-align: center; width: 100%;
  height: 20px;
  font-weight:600; font-size: 16px; color:#333;
}

DIV.table-row-cp{
    border-top: 1px solid #DDDDDD;
    margin-top: 5px;
    padding: 10px;
    text-align: left;
    font-size: 10px;
}



DIV.table-row-footer {
	background: none #eeeeee; color: #000000;
	border-color:#999; border-style:solid; border-width:1px;
	margin-top: -1px; margin-right: auto; margin-bottom: 0; margin-left: auto;
	text-align: center; width: 100%;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	float:left;
}

DIV.youtube {
	background: none #cccccc; color: #000000;
	border-color:#999; border-style:solid; border-width:1px;
	width: 100%;
	margin-bottom: -11px;
	padding: 10px; padding-bottom: 0px;
}
DIV.youtube p{
	padding: 0px;
	margin:	0px;
}

DIV.left-cell-correct {
  float: left; margin: 0; padding-left: 2px; padding-right: 15px; width: 20px;
}

DIV.left-cell-small {
  border: solid, 1px, #333; float: left; margin: 0; padding-left: 2px; padding-right: 15px; width: 55px;
}
DIV.left-cell-big {
  border: solid, 1px, #333; float: left; margin: 0; padding-left: 5px; padding-right: 20px; width: 200px;
}
DIV.right-cell-small {
  border: solid, 1px, #333; float: right; margin: 0; padding-left: 2px; padding-right: 15px; width: 55px;
}

.top{
	font-weight:600; font-size: 16px; color:#333;
}


DIV.rowMultiChoice, DIV.rowMultiChoice input {
  border: none; float: left; margin: 0; padding: 0; width: 40px; padding-bottom:5px;  text-align: center;
}

DIV.left-layer11-text{
  border: none; float: right; margin: 0; padding-top: 2px; width: auto;
}

/* renamed? */

DIV.left-layer11 textarea{
	margin-top: 6px;
}

DIV.left-layer11 {
	 width: 44%;
  border: none; float: left; margin: 0; padding: 0;
  text-align:left;
}

DIV.text-question {
  border: none; float: left; margin: 0; padding: 0;
  text-align: left;
  width:65%;
}


DIV.right-layer11 {
  border: none; float: right; margin-right: 30px; padding: 0; padding-top: 10px;  width: 5%;
}


DIV.space-line {
  clear: both; margin: 0; padding: 0; width: auto;
}

/* Some rules for captions, headers and running text */

H4.table-caption {
  background: transparent; color: #333333; font-family: sans-serif;
  font-size: 1em; font-style: italic; font-weight: bold; margin: 0;
  padding: 0.3em; text-align: center; width: auto;
}

H5.colhdr {
  background: none #eeeeee; border: solid #3333cc 1px; color: #222222;
  font-family: sans-serif; font-size: 1em; font-style: italic;
  font-weight: normal; margin: 0; padding: 0.3em 0.3em 0 0.3em;
  text-align: center; width: auto;
}

.headingLabel, .createQuestionLabel, .createQuestionNum{
  border: none; 
  float: left; 
  margin: 0;
  padding-right:15px;
  text-align: center;
}
   
.createQuestionLabel{
	font-size: 20px;
	margin: 0px;
	font-weight: 700;
	text-align: center;
	float: none;     
}

.createQuestionNum{
	font-size: 40px;
	margin: 0px;
	font-weight: 700;
	text-align: center;
	float: none;    
}

.text-box-inquisitive input{
	margin-top:10px;
}

/* TAKE VIEW */
/*DIV.headingLabel a{
  border: none; margin: 0; padding: 0; 
  padding-top:30px;
}*/

DIV.headingLabel{	
	font-weight: 600;	
	height: 50px;
}

#additionalEmail{
	color:#000000;
}

#answerNum{
	font-size: 32px;
	color:#000000;
	line-height: 0;
	margin: 0 !important;
	    padding-top: 12px;
}

.numText {
	width: 77%;	
	color:#bbbbbb;
    font-size: 40px;

}



/* Buttons */

.buttons-footer {
  border: none; float: left; margin: 0; padding: 0; width: auto;
  padding-left: 2px;
}

.text-btn, .textdisabled{
	margin-left: 3px;
	font-style: normal; 
	font-size: 1em; 
	text-align: center; 
	text-indent: 0;
	width: auto;
}
.text-btn input{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
#addURLbtn, #submitsave, .text-btn button, .textdisabled button, .text-btn input, a.text-btn:link{
	background: none repeat scroll 0 0 #3A3A3A;
  border: solid thin;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2px;
  padding: 6px 6px;
  text-decoration: none;
  text-transform: uppercase;
}

#addURLbtn:hover, #submitsave:hover, .text-btn button:hover, .text-btn input:hover, a.text-btn:hover{
	background: none repeat scroll 0 0 #FFFFFF;
  border: solid thin;
  color: #3A3A3A;
}

.textdisabled button[disabled], .textdisabled input[disabled]{
  background-color:#ccc;
}

.textdisabled button[disabled]:hover, .textdisabled input[disabled]:hover{
	background-color:#ccc; border: solid thin; color:#FFFFFF; 
}    
    
/* New quiz style */
p.quiz-title {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 5px;
    padding-bottom: 2px;
    text-transform: uppercase;
}

p.quiz-desc {
    border-bottom: 1px solid #D3D3D3;
    margin-bottom: 35px;
    padding-bottom: 2px;     
}

.createQuiz {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}

.createQuiz .one-third.column {
    float: left;
    height: auto;
    width: 200px;
	padding:5px;
}

.text-center{
   text-align: center;
}

h2.quizGive{
	color: #000000;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 10px;
    position: relative;
    text-transform: none;
    text-align: center;
    z-index: 150;
	padding-bottom:5px;
    }
    
h1.quizGive{ 
	color: #434343;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 90px;
    text-align: center;
    text-transform: capitalize;
    }
    

/* End of layer specific style rule set */

/* tool tip - http://downloads.sixrevisions.com/css-tooltips/index.html  */

	.tooltip-inquisitive {
		border-bottom: 1px dotted #000000; color: #000000; outline: none;
		cursor: help; text-decoration: none;
		position: relative;			
	}
	

	.tooltip-inquisitive span {
		margin-left: -999em;
		position: absolute;
	}
	.tooltip-inquisitive:hover span {
		font-size:12px;
		border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
		position: absolute; left: 1em; top: 2em; z-index: 99;
		margin-left: 0px; width: 250px;
	}
	.tooltip-inquisitive:hover img {
		border: 0; margin: -10px 0 0 -55px;
		float: left; position: absolute;
	}
	.tooltip-inquisitive:hover em {
		
		font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
		display: block; padding: 0.2em 0 0.6em 0;
	}
	.classic { padding: 0.8em 1em; }
	.custom { padding: 0.5em 0.8em 0.8em 2em; }
	* html a:hover { background: transparent; }
	.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
	.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
	.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
	.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
	.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
		
		
DIV.poweredby {clear: both;}
DIV.poweredby a, DIV.poweredby a:hover, DIV.poweredby a:visited,  DIV.poweredby a:link{color:#FFFFFF; font-size:xx-small; background-color: none; }
