/* graph containers */



/* Benchmark quiz ( overall quiz results ) */

#questionAverages{
        width : 600px;
        height: 384px;
        margin: 8px auto;	
}

#overall{
	 width : 600px;
        height: 384px;
        margin: 8px auto;	
}